<div class="row">

    <div class="col-2">
        <i class="fas fa-bug"></i> {{ getTitle() }}
    </div>

    <div class="col input-group mb-3">

        <input type="text" class="form-control" [(ngModel)]="searchTxt" placeholder="Cerca un video.." (keyup.enter)="onKeyEnter($event)" required minlength="3">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" (click)="doSearch()">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</div>