<div>

    <div *ngIf="!currentVideo">
        Loading...
        <i class="fa fa-spinner fa-spin fa-3x"></i>
    </div>

    <div *ngIf="currentVideo">
        <h2>{{currentVideo.title}}</h2>
        <iframe [src]="path+currentVideo.id | safe" frameborder="0"></iframe>
        <p>{{currentVideo.description | readmore:125}}</p>
    </div>

</div>