<li class="video-item row" (click)="onClicked($event, video)" [ngClass]="{active : isSelected}">
    <div class="col">
        <img [src]="video.img" alt="">
    </div>
    <div class="col-6">({{isSelected ? "SI":"NO"}}) - {{video.title}} </div>
    <div class="col"> {{video.date | date:"dd MMMM yyyy"}}
    </div>
</li>