<div id="wrapper" class="container-fluid">
    <div class="container box">

        <app-magic-header (search)="onSearchTerm($event)"></app-magic-header>
        <div class="col-8 row">
            <button class="btn btn-primary col" (click)="prevVideo()">prev</button>
            <button class="btn btn-primary col" (click)="nextVideo()">next</button>
        </div>
        <div class="row">

            <app-magic-main-video class="col-8 box" [currentVideo]="currentVideo">
            </app-magic-main-video>

            <app-magic-video-list class="col box" [videoList]="videos" (select)="onSelectedVideo($event)">
            </app-magic-video-list>

        </div>


        <footer class="box">footer.....</footer>

    </div>
</div>