/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'https://use.fontawesome.com/releases/v5.0.13/css/all.css';
.box {
    border: 1px solid #ccc;
    padding: 10px;
}